<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SQLCONN.bak" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=LavajatoTemp;Persist Security Info=True;User ID=dblavajato;Password=123" providerName="System.Data.SqlClient"/>
    <add name="SQLCONN" connectionString="Data Source=192.168.0.150\SQLEXPRESS;Initial Catalog=Lavajato;Persist Security Info=True;User ID=dblav;Password=123" providerName="System.Data.SqlClient"/>
    <add name="SQLCONN.bak2" connectionString="Data Source=192.168.0.157\SQLEXPRESS;Initial Catalog=Lavajato;Persist Security Info=True;User ID=dblav;Password=123" providerName="System.Data.SqlClient"/>
    <add name="SQLCONN.bak3" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Lavajato;Persist Security Info=True;User ID=dblav;Password=123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
