<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    
    <add name="SQLCONN" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=LavajatoTemp;Persist Security Info=True;User ID=dblavajato;Password=123"
      providerName="System.Data.SqlClient" />
    
    <add name="HenryCorporation.Lavajato.Presentation.Properties.Settings.LavajadoConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Lavajato;Persist Security Info=True;User ID=dbteste;Password=123"
      providerName="System.Data.SqlClient" />
    
    <add name="HenryCorporation.Lavajato.Presentation.Properties.Settings.LavajatoConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Lavajato;Persist Security Info=True;User ID=dbteste;Password=123"
      providerName="System.Data.SqlClient" />
    
  </connectionStrings>
</configuration>