<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SQLCONN" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=lavajato;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="HenryCorporation.Lavajato.Presentation.Properties.Settings.LavajadoConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Lavajado;User ID=dblavajato;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="HenryCorporation.Lavajato.Presentation.Properties.Settings.LavajatoConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Lavajato;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>