 SELECT
 S.ServicoID,
 P.DESCRICAO
 --COUNT(SI.SERVICOITENSID) TOTALSERVICOS 
 --U.NOME,
 FROM SERVICO S
 INNER JOIN ServicoFuncionario SF ON S.ServicoID = SF.ServicoID
 INNER JOIN Produto P ON SF.ProdutoID = P.ProdutoID
 
 --GROUP BY U.NOME,  P.DESCRICAO
 --WHERE TF.TIPOFUNCIONARIOID = 3 AND P.CATEGORIAPRODUTOID = 2 AND S.LAVADORID = 26
 --GROUP BY U.NOME, P.DESCRICAO
 
 